@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');


/* Variables */
:root {
    --white: #F9F8F6;
    --black: #252525;
    --red: #EB6254;
    --biege: #F0DED0;
    --green: #3c7a6e;

    --light-color: var(--white);
    --dark-color: var(--black);
    --accent-color: var(--red);
    --secondary-color: var(--green);
    --supplementary-color: var(--biege);
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;

    font-family: 'Federo', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0;
    margin: 0;
}

#root {
	min-height: 100vh;
}

.App {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.container {
    max-width: 1650px;
    margin: 0 auto;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}