.add-to-cart {
    font-family: 'Federo', sans-serif;
    color: var(--white);
    background-color: var(--black);
    border: var(--black) solid 2px;
    font-size: 0.9em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 17px;

    transition: all 0.3s ease-in;
}

.add-to-cart:hover, .add-to-cart-active {
    color: var(--black);
    background-color: var(--white);
}

.add-to-cart-active {
    cursor: default;
}


@media (max-width: 800px) {

    .likes .add-to-cart {
        font-size: 0.7em;
        padding: 7px 10px;
    }

}

@media (max-width: 600px) {

    .likes .add-to-cart {
        width: 70px;
        height: 50px;
        padding: 5px 8px;
    }

}