.counter {
    position: absolute;
    top: -12px;
    right: -2px;

    display: block;
    width: 13px;
    height: 13px;

    background-color: var(--red);
    font-size: 8px;
    text-align: center;
    line-height: 11px;
    border: 0.8px solid var(--black);
    border-radius: 50%;
}