.nav {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 18px;
}

@keyframes logoAnimation {
    from { color:#EB6254; }
    25% { color:#967BDC;}
    50% { color:#36BC9B; } 
    75% { color:#F8BA43; }
    to { color:#EB6254; } 
}

.logo {
    flex: 0 0 0;

    font-family: 'League Gothic', sans-serif;
    font-size: 64px;
    color: var(--accent-color);
    text-align: center;
    white-space: nowrap;

    transition: transform 0.3s linear; 
}

.logo:hover {
    animation: logoAnimation 20s 0.3s infinite;
    transform: scale(1.2);
}

.nav-icons {
    flex: 1 1 0;

    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
} 

.cart, .likes {
    position: relative;
}

.nav-icons img {
    width: 24px;
}